{% extends 'layout.twig' %}

{% block js %}
    {{ parent() }}
    <script src="/javascripts/index.js"></script>
{% endblock %}

{% block body %}
  <p>Welcome to {{title}}</p>
    <button id="counterBtn">Start counter</button>
    <div class="counter" id="counter">3</div>
{% endblock %}
