{% extends 'layout.twig' %}


{% block body %}
    <h1>{{title}}</h1>

    <ul>
        <li>
            first element
        </li>
        <li>
            second element
        </li>
        <li>
            3rd element
        </li>
        <li>
            4 element
        </li>
        <li>
            4 element
        </li>
    </ul>
{% endblock %}
