{% extends 'layout.twig' %}


{% block body %}
    {#{{ dump(data) }}#}
    <ul>
        {% for item in data %}
            <li><a href="/products/{{ item.id }}">{{item.name|escape}} : {{item.priceEur}}€</a></li>

        {% endfor %}
    </ul>
    <a href="/products/add">Ajouter un nouveau produit</a> </br>
{% endblock %}
